.center {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.form-control {
	width: 600px;
}

.password {
	width: 200px;
}
